<br />
<div class="content">
  <h1>Ungeglättete Rohdaten der letzten 50 Tage:</h1>
  <div class="table-wrapper" *ngIf="tableData.length >= 3">
    <table class="table">
      <tr>
        <th rowspan="2">Datum</th>
        <th colspan="2">Erkrankte</th>
        <th colspan="2">Verstorbene</th>
      </tr>

      <tr>
        <th>Anzahl</th>
        <th>Unterschied zum Vortag</th>
        <th>Anzahl</th>
        <th>Unterschied zum Vortag</th>
      </tr>

      <tr *ngFor="let row of tableData" [style.background-color]="rowColor(row)">
        <td>
          {{ row.date | date:'dd.MM.yyyy' }}
        </td>
        <td>
          <span *ngIf="row.value > 0">
            {{ row.value | number:'':'de-DE' }}
          </span>
        </td>
        <td>
          <span *ngIf="row.diff !== 0">
            {{ row.diff | number:'':'de-DE' }}
          </span>
        </td>

        <td>
          <span *ngIf="!row.deaths"> - </span>
          <span *ngIf="row.deaths">
            {{ row.deaths | number:'':'de-DE'}}
          </span>
        </td>

        <td>
          <span *ngIf="!row.diffDeaths"> - </span>
          <span *ngIf="row.diffDeaths">
            {{ row.diffDeaths | number:'':'de-DE'}}
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
