<div class="content">
  <h1>Rohdaten (ungeglättet):</h1>
  <div class="table-wrapper" *ngIf="tableData.length >= 3">
    <table class="table">
      <tr>
        <th rowspan="2">Datum</th>
        <th colspan="2">Erkrankte</th>
        <th colspan="2">Verstorbene</th>
      </tr>

      <tr>
        <th>Anzahl</th>
        <th>Unterschied zum Vortag</th>
        <th>Anzahl</th>
        <th>Unterschied zum Vortag</th>
      </tr>

      <tr
        *ngFor="let row of tableData; let i = index"
        [style.background-color]="rowColor(row)"
      >
        <td>
          {{ row.name }}
        </td>
        <td>
          <span *ngIf="tableData[i].value > 0">
            {{ row.value }}
          </span>
        </td>
        <td>
          <span *ngIf="tableData[i].diff !== 0">
            {{ row.diff }}
          </span>
        </td>

        <td>
          <span *ngIf="!row.deaths"> - </span>
          <span *ngIf="tableData[i].deaths">
            {{ row.deaths }}
          </span>
        </td>

        <td>
          <span *ngIf="row && tableData[i + 1]">
            {{ row.deaths - tableData[i + 1].deaths || "-" }}
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
