<app-header></app-header>

<div class="container main">

  <app-disclaimer></app-disclaimer>

  <div class="row country-selector">
    <div class="form-group col-6">
      <label>Wählen Sie ein Land:</label>
      <select [(ngModel)]="COUNTRY" (ngModelChange)="updateData()" class="form-control">
        <option *ngFor="let c of countries" [ngValue]="c.id">
          {{ c.name }}
        </option>
      </select>
    </div>
  </div>

  <app-cities *ngIf="COUNTRY === 'germany'"></app-cities>

  <app-prognose [dataIsBroken]="!hasEnoughData()" [noOfRecords]="graphData.length" [daysUntilEndOfCrisis]="days">
  </app-prognose>

</div>

<app-chart [data]="graphData" *ngIf="hasEnoughData()"></app-chart>
<app-table [tableData]="tableData" *ngIf="hasEnoughData()"> </app-table>

<app-footer></app-footer>
