<corona-header>
</corona-header>

<div class="container main">

  <corona-disclaimer>
  </corona-disclaimer>

  <corona-country-selector [allCountries]="countries" (selectedNewCountry)="selected($event)">
  </corona-country-selector>

  <corona-cities *ngIf="selectedCountry === 'germany'">
  </corona-cities>

  <!-- <corona-prognose *ngIf="false" [dataIsBroken]="!hasEnoughData()" [noOfRecords]="graphData.length" [daysUntilEndOfCrisis]="days">
  </corona-prognose> -->

  <corona-chart [data]="graphData" *ngIf="hasEnoughData()">
  </corona-chart>

  <corona-table [tableData]="tableData.slice(0,50)" *ngIf="hasEnoughData()">
  </corona-table>

</div>

<corona-footer>
</corona-footer>
