<div>
  Diese Webseite verwendet ausschließlich statistische Verfahren zur Prognose, die Werte in der Graphik sind "geglättet"
  und weisen daher geringfügige Abweichungen gegenüber den offiziellen Werte auf.

  <p>
    <select [(ngModel)]="COUNTRY" (ngModelChange)="updateData()">
      <option *ngFor="let c of countries" [ngValue]="c.id">{{c.name}}</option>
    </select>
  </p>

  <app-cities *ngIf="COUNTRY === 'germany'"></app-cities>

  <p *ngIf="isDataBroken()">
    Die gelieferten Länder-Daten sind im Moment leider unvollständig.
  </p>

  <div *ngIf="graphData.length <= 3">
    Keine ausreichenden Daten für eine Prognose vorhanden.
  </div>

  <div *ngIf="graphData.length > 3 && !isDataBroken()">

    <p *ngIf="days !== 0">Prognose:<br />
      <b>Nach dem aktuellen Verlauf dauert es noch ca. {{days}} Tage bis die Zahl der Erkrankten nahe 0 ist.<br />
        Eine Verhaltensänderung in der Bevölkerung kann diese Prognose aber kurzfristig verändern</b>
    </p>

    <p *ngIf="!days">Prognose:
      <b>Nach dem aktuellen Verlauf wird es kein Ende der Infektion geben, bis es einen Impfstoff gibt, 60-70%
        der Bevölkerung erkrankt sind oder das Verhalten der Bevölkerung sich massiv ändert. </b>
    </p>

    <br />

    <div style="width: 100%; height: 500px">
      <ngx-charts-bar-vertical [results]="graphData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                               [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                               [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>
      <p></p>
      <hr />
    </div>
  </div>

  <br />

  <app-table [tableData]="tableData" *ngIf="!isDataBroken()">
  </app-table>

</div>

<hr />
<p>Datenquellen:
  https://www.covid19api.com und https://systems.jhu.edu
</p>
