.below35 {
  background-color: white;
  color: black;
}

.below50 {
  background-color: #f3e677;
  color: black;
}

.below100 {
  background-color: #f25f5f;
  color: black;
}

.below200 {
  background-color: #8b0000;
  color: white;
}

.above200 {
  background-color: black;
  color: white;
}
